- if (value || editing)
  dl
    dt= title
    dd
      - if (editing)
        - if (typeof focus !== 'undefined' && focus)
          input(name='#{field.name}', type='#{field.fieldtype}', value='#{field.value}', oninput='onInput("#{field.name}")', autofocus)
        - else
          input(name='#{field.name}', type='#{field.fieldtype}', value='#{field.value}', oninput='onInput("#{field.name}")')
        //-span.fieldstatusok(id="fieldstatusok=#{name}")&#10003;
        //-span.fieldstatuserror(id="fieldstatuserror=#{name}")&#10007;
        span.fielderror(id="fielderror-#{field.name}")
      - else
        =value
