table.list
  tr
    td Track
    td
    td
    td By
    td Last edited
    td: img(src="/emojis/car.png", title="Number of times this track has been driven").emoji
    td: img(src="/emojis/floppy_disk.png", title="Number of times this track has been copied").emoji
    //-td: img(src="/emojis/heart.png", title="Favorited").emoji
  each track in tracks
    tr
      td
        a(href="/track/#{track.pub_id}/drive"): strong= track.name
      td
        a(href="/track/#{track.pub_id}") Details
      td
        if track.env
          a(href="/track/#{track.pub_id}/edit") Edit
      td
        user = track.user
        include user
      td= track.modified_ago
      td= track.count_drive
      td= track.count_copy
      //-td= track.count_fav
