extends layout

block body
  include partial/header

  .content

    p Fast arcade rally racing action!

    .section Featured tracks

    a.featured(
      href="/x/Alpina/ArbusuG/drive",
      style="background-image: url(/images/screen3.jpg)",
      title="Drive Alpina")

    a.featured(
      href="/x/Preview/Arbusu/drive",
      style="background-image: url(/images/screen1.jpg)",
      title="Drive Preview")

    if recentTracks
      .section Latest published tracks
      tracks = recentTracks
      include partial/tracklist

      p
        | See 
        a(href="/recenttracks") more tracks
        |  or make your own with the 
        a(href="/track/v3-base-1/edit") editor
        | .

      p To include a track in this list, check the <em>"Publish this track"</em> option in the editor.

    .section Blog 
      a(href="//blog.triggerrally.com/") (more here)
    script(src="//blog.triggerrally.com/js")

    .section News
    .twitterfeeds
      <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
      script
        new TWTR.Widget({
          version: 2,
          type: 'search',
          search: 'TriggerRally',
          interval: 10000,
          title: 'What people are saying about',
          subject: 'TriggerRally',
          width: 940,
          height: 310,
          theme: {
            shell: {
              background: '#496b35',
              color: '#ffffff'
            },
            tweets: {
              background: '#000000',
              color: '#ffffff',
              links: '#4aed05'
            }
          },
          features: {
            scrollbar: true,
            loop: false,
            live: true,
            behavior: 'default'
          }
        }).render().start();

    include partial/footer
