!=partial('partial/header', { login: 1 })

.content

  h1 Recorded run

  p
    a(href="/run/#{urlRun.pub_id}/replay") Watch replay
    - if (urlRun.time !== null)
      |  &mdash;
      a(href="/x/#{urlRun.track.pub_id}/#{urlRun.car.pub_id}/top") View ranking

  p

  .section Run information

  dl
    dt Driver
    dd
      !=partial('partial/user', {user: urlRun.user})
  dl
    dt Track
    dd
      a(href="/track/#{urlRun.track.pub_id}")
        =urlRun.track.name
  dl
    dt Car
    dd
      a(href="/car/#{urlRun.car.pub_id}")
        =urlRun.car.name
  dl
    dt Race time
    dd= urlRun.time_readable
  dl
    dt Recorded at
    dd #{urlRun.created.toISOString().substr(0, 19).replace(/T/,' ')} UTC (#{urlRun.created_ago})

  !=partial('partial/footer')
