
#editor-toolbox
  h2 Track Editor
  fieldset
    legend General
    div
      .field
        span Owner
        span
          !=partial('partial/user', {user:urlTrack.user})
        .end

      .field
        span Name
        input(value='#{urlTrack.name}')
        .end

      .field
        span ID
        input(value='#{urlTrack.pub_id}')
        .end

  fieldset
    legend Tools

    mixin tool(id, label)
      input(id=id, type="radio", name="tool")
      label(for=id)= label

    fieldset
      legend Course
      mixin tool("tool-cour-edit", "Edit")

  fieldset
    legend Tool options
    div
      .field
        span Strength
        input(type="range")
        .end

      .field
        span Radius
        input(type="range")
        .end

      .field
        span Falloff
        input(type="range")
        .end

#view3d

script
  var TRIGGER = {
    TRACK: {
      ID: '#{urlTrack.pub_id}',
      NAME: '#{urlTrack.name}',
      CONFIG: !{JSON.stringify(urlTrack.config)}
    },
    METRICS: #{'production' === process.env.NODE_ENV}
  };

script(data-main="/scripts/editor/editor-main", src="/js/require.js")
