extends layout

block body
  include partial/header

  .content

    h1= urlTrack.name

    a.button(href="/track/#{urlTrack.pub_id}/drive") Drive
    a.button(href="/track/#{urlTrack.pub_id}/edit") Edit

    .section Information

    dl
      dt Name
      dd= urlTrack.name

    dl
      dt Owner
      dd
        user = urlTrack.user
        include partial/user

    dl
      dt Created
      dd= urlTrack.created_ago

    dl
      dt Modified
      dd= urlTrack.modified_ago

    dl
      dt Published
      dd= urlTrack.published ? "yes" : "no"

    dl
      dt Driven
      dd= urlTrack.count_drive

    dl
      dt Copied
      dd= urlTrack.count_copy

    if urlTrack.parent
      dl
        dt Parent track
        dd
          a(href="/track/#{urlTrack.parent.pub_id}")= urlTrack.parent.name

    include partial/footer
