extends layout

block body
  include partial/header

  .content

    h1= urlTrack.name

    .section Information

    dl
      dt Name
      dd= urlTrack.name

    dl
      dt Owner
      dd
        user = urlTrack.user
        include partial/user

    dl
      dt Created
      dd= urlTrack.created_ago

    dl
      dt Modified
      dd= urlTrack.modified_ago

    dl
      dt &nbsp;
      dd
        a(href="/track/#{urlTrack.pub_id}/edit") Open in editor

    if urlTrack.parent
      dl
        dt Parent track
        dd
          a(href="/track/#{urlTrack.parent.pub_id}")= urlTrack.parent.name

    include partial/footer
