extends layout

block body
  include partial/header

  .content

    .editprofile
      - if (editing)
        a.button(href="#", onclick="this.classList.contains('disabled') ? evt.preventDefault() : document.theform.submit()", id="submitbutton") Save changes
      - else if (urlUser.isAuthenticated)
        a.button(href="/user/#{urlUser.pub_id}/edit") Edit profile
    h1
      a(href="/user/#{urlUser.pub_id}")
        img(src="https://secure.gravatar.com/avatar/#{urlUser.gravatar_hash}?s=70")
      a(href="/user/#{urlUser.pub_id}")
        span.username #{urlUser.name} 

    - if (urlUser.newbie && editing)
      p 
        | Welcome to Trigger Rally!
        | When you're happy with your profile, please click the "Save changes"
        | button.

    form(name="theform", action="save", method="post")
      - if (urlUser.isAuthenticated)
        .section Public information
      - else
        .section User information
      field = { title:'Name', name:'name', value:urlUser.name, focus:1, editing:editing }
      include partial/formfield
      field = { title:'Location', name:'location', value:urlUser.location, editing:editing }
      include partial/formfield
      field = { title:'Website', name:'website', value:urlUser.website, editing:editing }
      include partial/formfield
      field = { title:'About me', name:'bio', value:urlUser.bio, editing:editing }
      include partial/formfield
      //- TODO: Move this date computation out of view?
      - var created = urlUser.created.toISOString().substr(0, 10)
      field = { title:'Joined', name:'joined', value:created, editing:false }
      include partial/formfield

      - if (urlUser.isAuthenticated && editing)
        .section Private information, visible only to you
        div Email is used for your <a href="http://gravatar.com">Gravatar</a> profile picture.
          |  It will not be shared with anyone.
        field = { title: 'Email', name:'email', value:urlUser.email, editing:editing }
        include partial/formfield
        field = { title: 'Identity Provider', name:'idp', value:urlUser.id_prov, editing:false }
        include partial/formfield

    if tracks
      .section Tracks
      if tracks.length > 0
        table.list
          tr
            td Name
            td
            td
            td
            td Created
            td Modified
          each track in tracks
            tr
              td= track.name
              td
                a(href="/track/#{track.pub_id}/drive") Drive
              if track.env
                td
                  a(href="/track/#{track.pub_id}/edit") Editor
              else
                td
              td
                a(href="/track/#{track.pub_id}") Details
              td= track.created_ago
              td= track.modified_ago
      else
        span No tracks.

    if runs
      .section Recorded runs 
        a(href="https://github.com/CodeArtemis/TriggerRally/issues/16") (v1 only for now, later versions coming soon)
      if runs.length > 0
        table.list
          tr
            td Track
            td Car
            td Time
            td Recorded
            td
            td
          each run, rank in runs
            tr
              td
                a(href="/track/#{run.track.pub_id}")= run.track.name
              td
                a(href="/car/#{run.car.pub_id}")= run.car.name
              td= run.time_readable
              td
                a(href="/run/#{run.pub_id}")= run.created_ago
              td
                a(href="/run/#{run.pub_id}/replay") Watch replay
              td
                a(href="/run/#{run.pub_id}") Details
      else
        span No recorded runs.

    include partial/footer

  include partial/formvalidate
