.gui-container.modal
  .modal-blocker
  .dialog.purchasecredits
    .dialogpadding
      form
        h1 Purchase Credits
        //- table
        //-   for option in options
        //-     tr
        //-       td
        //-         .ca-credit
        //-         |  #{option.credits}
        //-       td $#{option.price}
        //-       td
        //-         .purchaseplus
        //-           a(href="#")
        //-             span +
        //-       td
        //-         em= option.message
        for option in options
          div
            label
              input(type="radio", name="credits", value="#{option.credits}")
              span.ca-credit= option.credits
              span.muted  for USD #{option.price}
        input.checkout(type="image", src="/images/btn_buynowCC_LG.gif", name="paypal", value="paypal")
        //- img.paypal-logo(src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_111x69.jpg")
