table
  tr
    td
      h2 Trigger Rally
    td.navigation
      a(href="javascript:history.back()") &lt; Back
      a.route(href="/") Home
      a.route(href="/about") About
      //- | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      //- a(href="javascript:location.reload()") Reload
      span.dropdownmenu Track &blacktriangledown;
        menu.trackinfo
          li
            span.name
            |  by 
            span.author
          ul
            li: a.route.drive Drive
            li: a.route.info View top runs
            li: a.route.edit Edit
          hr
          li: a.route(href="/tracklist/featured") Featured tracks
          li: a.route(href="/tracklist/recent") Recent published tracks
      span.dropdownmenu Settings &blacktriangledown;
        menu
          li: label
            input#pref-audio(type="checkbox", checked=prefs.audio)
            | Sound (Chrome only)
          hr
          .label Graphics options: the game may run faster if you turn these off.
            | They take effect after reloading the page.
          li: label
            input#pref-shadows(type="checkbox", checked=prefs.shadows)
            | Shadows
          li: label
            input#pref-terrainhq(type="checkbox", checked=prefs.terrainhq)
            | High detail terrain
          li: label
            input#pref-antialias(type="checkbox", checked=prefs.antialias)
            | Antialiasing
          hr
          .label Resolution
          each pd in pixdens
            li: label.pixeldensity
              input(type="radio", name="pixdens", value=pd.value, checked=pd.checked)
              | #{pd.label}
          .car-section
      //- span.dropdownmenu Share &blacktriangledown;
      //-   menu
      //-     li
      //-       <a href="https://twitter.com/share" class="twitter-share-button" data-via="TriggerRally" data-size="large" data-related="jareiko" data-dnt="true">Tweet</a>
      //-       <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      span.dropdownmenu Help &blacktriangledown;
        menu
          .label Get news and updates on these sites:
          li: a(target="_blank", href="http://blog.triggerrally.com")
            img.inline(src="/images/tumblr_64.png")
            | Tumblr
          li: a(target="_blank", href="https://twitter.com/TriggerRally")
            img.inline(src="/images/twitter_64.png")
            | Twitter
          li: a(target="_blank", href="https://www.facebook.com/TriggerRally")
            img.inline(src="/images/facebook_64.png")
            | Facebook
          li: a(target="_blank", href="https://plus.google.com/104685285638239390202")
            img.inline(src="/images/google_64.png")
            | Google+
          hr
          div Controls:
          ul
            li <b>Up</b> arrow to accelerate
            li <b>Down</b> arrow to brake
            li <b>Left</b> and right to steer
            li <b>Space</b> for handbrake (locks the rear wheels)
            li <b>C</b> to change camera view
            li <b>R</b> to restart race
          div
            a(target="_blank", href="https://github.com/CodeArtemis/TriggerRally/wiki/Controllers") Click here
            |  for info on <b>gamepad and wheel support</b> in Chrome
    td.status
      span Status:&nbsp;
      span#status Loading
    td
      .userinfo
